Optimization 4a notes:
* Using guidance from ChatGPT tested a number of potential model improvements to boost accuracy - none appeared to further boost accuracy achieved in Optimization 3 (which resulted in accuracy rating improving from 54% to 61%)

Techniques tested here include:
* Polynomial Features: Testing the use of polynomial features to capture non-linear relationships if available. Result: No improvement seen
* SMOTE: Tested Synthetic Minority Over-sampling Technique to generate synthetic samples for the minority class. Result: No improvement seen
* Principal Component Analysis (PCA): Reduce the dimensionality of the data while retaining most of the variance. Seeking to streamline and make more efficient the use of data in the model. Result: No improvement seen.

# **Pre-Process the Data**

In [ ]:
# Import our dependencies
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.decomposition import PCA
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
X=application_df.drop(columns=['EIN', 'NAME'], axis=1, inplace=True)
y=application_df['IS_SUCCESSFUL']
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Generate categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [ ]:
# Check the number of unique values in each column
unique_counts = application_df[application_cat].nunique()
print("Unique value counts for each categorical column:")
print(unique_counts)

Unique value counts for each categorical column:
APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [ ]:
# Identify columns with more than 10 unique values
columns_more_than_10 = unique_counts[unique_counts > 10].index.tolist()
print("\nColumns with more than 10 unique values:")
print(columns_more_than_10)

Columns with more than 10 unique values:
['APPLICATION_TYPE', 'CLASSIFICATION']

In [ ]:
# Determine the number of data points for each unique value in these columns
for column in columns_more_than_10:
    value_counts = application_df[column].value_counts()
    print(f"\nValue counts for column '{column}':")
    print(value_counts)

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# Identify columns with fewer than 10 unique values (excluding CLASSIFICATION and APPLICATION_TYPE)
columns_to_group = unique_counts[(unique_counts < 10) & (unique_counts.index != 'CLASSIFICATION') & (unique_counts.index != 'APPLICATION_TYPE')].index.tolist()
print("\nColumns to group infrequent values into 'Other':")
print(columns_to_group)

Columns to group infrequent values into 'Other':
['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Set the threshold for excluding low count categories
threshold = 1000
# Generate our categorical variable list
application_types_to_replace = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
unique_counts = application_df[application_types_to_replace].nunique()

# Identify columns with more than 10 unique values
columns_more_than_10 = unique_counts[unique_counts > 10].index.tolist()

# Loop through each column with more than 10 unique values
for column in columns_more_than_10:
    # Determine the number of data points for each unique value in the column
    value_counts = application_df[column].value_counts()
    print(f"\nValue counts for column '{column}':")
    print(value_counts)

    # Identify categories to exclude
    low_count_values = value_counts[value_counts < threshold].index
    print(f"Categories with counts below {threshold} in column '{column}':")
    print(low_count_values)

    # Replace low count categories with 'Other'
    application_df[column] = application_df[column].replace(low_count_values, 'Other')

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64
Categories with counts below 1000 in column 'APPLICATION_TYPE':
Index(['T8', 'T7', 'T10', 'T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15',
       'T17'],
      dtype='object', name='APPLICATION_TYPE')

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
Categories with counts below 1000 in column 'CLASSIFICATION':
Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256',
       'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150'],
      dtype='object', name='CLASSIFICATION')

In [ ]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

In [ ]:
# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Set the threshold for excluding low count categories
threshold = 100
# Generate our categorical variable list
classifications_to_replace = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
unique_classification_counts = application_df[classifications_to_replace].nunique()

# Identify columns with more than 10 unique values
columns_more_than_10 = unique_counts[unique_counts > 10].index.tolist()

# Loop through each column with more than 10 unique values
for column in columns_more_than_10:
    # Determine the number of data points for each unique value in the column
    value_classification_counts = application_df[column].value_counts()
    print(f"\nValue counts for column '{column}':")
    print(value_classification_counts)

    # Identify categories to exclude
    low_count_classification_values = value_classification_counts[value_classification_counts < threshold].index
    print(f"Categories with counts below {threshold} in column '{column}':")
    print(low_count_classification_values)

    # Replace low count categories with 'Other'
    application_df[column] = application_df[column].replace(low_count_classification_values, 'Other')

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64
Categories with counts below 100 in column 'APPLICATION_TYPE':
Index([], dtype='object', name='APPLICATION_TYPE')

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64
Categories with counts below 100 in column 'CLASSIFICATION':
Index([], dtype='object', name='CLASSIFICATION')

In [ ]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(application_df)
print("\nDataFrame after applying pd.get_dummies:")
print(df_dummies)

DataFrame after applying pd.get_dummies:
       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                    True
1           1    108590              1                   False
2           1      5000              0                   False
3           1      6692              1                   False
4           1    142590              1                   False
...       ...       ...            ...                     ...
34294       1      5000              0                   False
34295       1      5000              0                   False
34296       1      5000              0                   False
34297       1      5000              1                   False
34298       1  36500179              0                   False

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                     False                False                False
1                     False                 True                False
2                     False                False                False
3                     False                 True                False
4                     False                 True                False
...                     ...                  ...                  ...
34294                 False                False                 True
34295                 False                False                 True
34296                 False                 True                False
34297                 False                False                False
34298                 False                 True                False

       APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  AFFILIATION_CompanySponsored  \
0                    False                False                         False
1                    False                False                         False
2                     True                False                          True
3                    False                False                          True
4                    False                False                         False
...                    ...                  ...                           ...
34294                False                False                         False
34295                False                False                          True
34296                False                False                          True
34297                 True                False                         False
34298                False                False                         False

       ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
0      ...              False                   False
1      ...               True                   False
2      ...              False                   False
3      ...              False                    True
4      ...              False                   False
...    ...                ...                     ...
34294  ...              False                   False
34295  ...              False                   False
34296  ...              False                   False
34297  ...              False                   False
34298  ...              False                   False

       INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
0                         False               False             False
1                         False               False             False
2                         False               False             False
3                         False               False             False
4                          True               False             False
...                         ...                 ...               ...
34294                     False               False             False
34295                     False               False             False
34296                     False               False             False
34297                     False               False             False
34298                     False               False              True

       INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
0                       False            False              False
1                       False            False              False
2                       False            False              False
3                       False            False              False
4                       False            False              False
...                       ...              ...                ...
34294                   False            False              False
34295                   False            False              False
34296                   False            False              False
34297                   False            False              False
34298                   False            False              False

       SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                          True                     False
1                          True                     False
2                          True                     False
3                          True                     False
4                          True                     False
...                         ...                       ...
34294                      True                     False
34295                      True                     False
34296                      True                     False
34297                      True                     False
34298                      True                     False

[34299 rows x 41 columns]

In [ ]:
# Convert boolean columns to integers
df_dummies = df_dummies.astype(int)

print("\nDataFrame after applying pd.get_dummies and converting to integers:")
print(df_dummies.head())

DataFrame after applying pd.get_dummies and converting to integers:
   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       1
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                     0                    0                    0
1                     0                    1                    0
2                     0                    0                    0
3                     0                    1                    0
4                     0                    1                    0

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  AFFILIATION_CompanySponsored  \
0                    0                    0                             0
1                    0                    0                             0
2                    1                    0                             1
3                    0                    0                             1
4                    0                    0                             0

   ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0  ...                  0                       0                         0
1  ...                  1                       0                         0
2  ...                  0                       0                         0
3  ...                  0                       1                         0
4  ...                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 41 columns]

In [ ]:
print("\nData types of the DataFrame columns:")
print(df_dummies.dtypes)

Data types of the DataFrame columns:
STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          int64
APPLICATION_TYPE_T19            int64
APPLICATION_TYPE_T3             int64
APPLICATION_TYPE_T4             int64
APPLICATION_TYPE_T5             int64
APPLICATION_TYPE_T6             int64
AFFILIATION_CompanySponsored    int64
AFFILIATION_Family/Parent       int64
AFFILIATION_Independent         int64
AFFILIATION_National            int64
AFFILIATION_Other               int64
AFFILIATION_Regional            int64
CLASSIFICATION_C1000            int64
CLASSIFICATION_C1200            int64
CLASSIFICATION_C2000            int64
CLASSIFICATION_C2100            int64
CLASSIFICATION_C3000            int64
CLASSIFICATION_Other            int64
USE_CASE_CommunityServ          int64
USE_CASE_Heathcare              int64
USE_CASE_Other                  int64
USE_CASE_Preservation           int64
USE_CASE_ProductDev             int64
ORGANIZATION_Association        int64
ORGANIZATION_Co-operative       int64
ORGANIZATION_Corporation        int64
ORGANIZATION_Trust              int64
INCOME_AMT_0                    int64
INCOME_AMT_1-9999               int64
INCOME_AMT_10000-24999          int64
INCOME_AMT_100000-499999        int64
INCOME_AMT_10M-50M              int64
INCOME_AMT_1M-5M                int64
INCOME_AMT_25000-99999          int64
INCOME_AMT_50M+                 int64
INCOME_AMT_5M-10M               int64
SPECIAL_CONSIDERATIONS_N        int64
SPECIAL_CONSIDERATIONS_Y        int64
dtype: object

In [ ]:
# Split our preprocessed data into our features and target arrays
# Split the preprocessed data into a training and testing dataset

# Identify the target variable
target = 'IS_SUCCESSFUL'

# Identify the feature variables related to 'Classification' and 'Application_Type'
# Assuming 'CLASSIFICATION' and 'APPLICATION_TYPE' were the original columns
classification_columns = [col for col in df_dummies.columns if 'CLASSIFICATION' in col]
application_type_columns = [col for col in df_dummies.columns if 'APPLICATION_TYPE' in col]

# Combine the feature columns
feature_columns = classification_columns + application_type_columns

# Create the features (X) and target (y) arrays
X = df_dummies[feature_columns].values
y = df_dummies[target].values

print("Feature columns:", feature_columns)
print("\nFeatures (X):")
print(X)
print("\nTarget (y):")
print(y)

Feature columns: ['CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_Other', 'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6']

Features (X):
[[1 0 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]
 [0 0 0 ... 0 1 0]
 ...
 [0 0 1 ... 0 0 0]
 [0 0 0 ... 0 1 0]
 [1 0 0 ... 0 0 0]]

Target (y):
[1 1 0 ... 0 1 0]

In [74]:
# Polynomial Features
poly = PolynomialFeatures(degree=2, interaction_only=True, include_bias=False)
X_poly = poly.fit_transform(X)

In [75]:
# Create a StandardScaler instance
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_poly)

In [76]:
# Handling imbalanced classes
#smote = SMOTE()
#X_resampled, y_resampled = smote.fit_resample(X_scaled, y)

In [77]:
# Dimensionality Reduction
#pca = PCA(n_components=50)
#X_reduced = pca.fit_transform(X_resampled)

In [78]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X_reduced, y_resampled, test_size=0.2, random_state=42)

# **Compile, Train & Evaluate the Model**

In [79]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = Sequential()
nn.add(Dense(units=32, activation='relu', input_shape=(X_train.shape[1],)))
nn.add(Dropout(0.5))
nn.add(Dense(units=32, activation='relu'))
nn.add(Dropout(0.5))
nn.add(Dense(units=1, activation='sigmoid'))

# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
nn.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])

# Early stopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# Train the model
fit_model = nn.fit(X_train, y_train, epochs=200, validation_split=0.2, batch_size=32, callbacks=[early_stopping])

# Evaluate the model
loss, accuracy = nn.evaluate(X_test, y_test)
print(f"Test Accuracy: {accuracy * 100:.2f}%")

Epoch 1/200
731/731 [==============================] - 3s 3ms/step - loss: 0.7112 - accuracy: 0.5430 - val_loss: 0.6633 - val_accuracy: 0.6015
Epoch 2/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6732 - accuracy: 0.5719 - val_loss: 0.6602 - val_accuracy: 0.6011
Epoch 3/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6658 - accuracy: 0.5892 - val_loss: 0.6596 - val_accuracy: 0.6008
Epoch 4/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6633 - accuracy: 0.5933 - val_loss: 0.6584 - val_accuracy: 0.6008
Epoch 5/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6626 - accuracy: 0.5968 - val_loss: 0.6585 - val_accuracy: 0.6004
Epoch 6/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6611 - accuracy: 0.5992 - val_loss: 0.6575 - val_accuracy: 0.6008
Epoch 7/200
731/731 [==============================] - 3s 4ms/step - loss: 0.6612 - accuracy: 0.5974 - val_loss: 0.6560 - val_accuracy: 0.6008
Epoch 8/200
731/731 [==============================] - 2s 3ms/step - loss: 0.6601 - accuracy: 0.6007 - val_loss: 0.6567 - val_accuracy: 0.6008
Epoch 9/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6589 - accuracy: 0.6012 - val_loss: 0.6568 - val_accuracy: 0.6008
Epoch 10/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6582 - accuracy: 0.6018 - val_loss: 0.6560 - val_accuracy: 0.6008
Epoch 11/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6587 - accuracy: 0.6028 - val_loss: 0.6561 - val_accuracy: 0.6008
Epoch 12/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6574 - accuracy: 0.6035 - val_loss: 0.6555 - val_accuracy: 0.6011
Epoch 13/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6575 - accuracy: 0.6025 - val_loss: 0.6553 - val_accuracy: 0.6011
Epoch 14/200
731/731 [==============================] - 3s 4ms/step - loss: 0.6578 - accuracy: 0.6021 - val_loss: 0.6572 - val_accuracy: 0.6011
Epoch 15/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6578 - accuracy: 0.6024 - val_loss: 0.6557 - val_accuracy: 0.6011
Epoch 16/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6572 - accuracy: 0.6032 - val_loss: 0.6547 - val_accuracy: 0.6011
Epoch 17/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6567 - accuracy: 0.6029 - val_loss: 0.6549 - val_accuracy: 0.6011
Epoch 18/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6570 - accuracy: 0.6033 - val_loss: 0.6548 - val_accuracy: 0.6011
Epoch 19/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6565 - accuracy: 0.6025 - val_loss: 0.6559 - val_accuracy: 0.6011
Epoch 20/200
731/731 [==============================] - 2s 3ms/step - loss: 0.6555 - accuracy: 0.6015 - val_loss: 0.6545 - val_accuracy: 0.6011
Epoch 21/200
731/731 [==============================] - 3s 4ms/step - loss: 0.6577 - accuracy: 0.6037 - val_loss: 0.6549 - val_accuracy: 0.6011
Epoch 22/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6565 - accuracy: 0.6039 - val_loss: 0.6552 - val_accuracy: 0.6011
Epoch 23/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6546 - accuracy: 0.6030 - val_loss: 0.6558 - val_accuracy: 0.6008
Epoch 24/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6550 - accuracy: 0.6032 - val_loss: 0.6554 - val_accuracy: 0.6008
Epoch 25/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6557 - accuracy: 0.6041 - val_loss: 0.6561 - val_accuracy: 0.6011
Epoch 26/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6562 - accuracy: 0.6039 - val_loss: 0.6556 - val_accuracy: 0.6011
Epoch 27/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6565 - accuracy: 0.6037 - val_loss: 0.6564 - val_accuracy: 0.6011
Epoch 28/200
731/731 [==============================] - 3s 4ms/step - loss: 0.6552 - accuracy: 0.6035 - val_loss: 0.6562 - val_accuracy: 0.6011
Epoch 29/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6561 - accuracy: 0.6027 - val_loss: 0.6572 - val_accuracy: 0.6011
Epoch 30/200
731/731 [==============================] - 2s 2ms/step - loss: 0.6569 - accuracy: 0.6024 - val_loss: 0.6552 - val_accuracy: 0.6011
229/229 [==============================] - 0s 1ms/step - loss: 0.6543 - accuracy: 0.6064
Test Accuracy: 60.64%

In [80]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization4.h5')

print("Model saved to 'AlphabetSoupCharity_Optimization4.h5'")

Model saved to 'AlphabetSoupCharity_Optimization4.h5'

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(